<%- include ('partials/header') %>

<div class="form">
    Register Here!
<form action="/register" method="post">
    <label for="email" >Email</label>
    <input type="email" name="username" id="email" required>
    <label for="password" >Password</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Login</button>
</form>
<a href="/login">Login</a>
</div>
<div class="card">
    <div class="card-body">
        <a href="/auth/google" class="btn btn-block btn-social btn-google" role="button">
            <i class="fab fa-google"></i>
            Sign Up With Google
        </a>
    </div>
</div>

<%- include ('partials/footer') %>
